.mathSigns {
  float: left;
  font-size: 46px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 36px;
}

.mathSigns-x {
  float: left;
  font-size: 46px;
  padding: 0px;
  margin-top: -7px;
  text-align: center;
  width: 36px;
}