.stepnumber {
  display: inline-block;
  border: 1px;
  font-family: "Futura";
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 50px;
}

.stepdigitrow {
  margin-top: 10px;
}

.stepdigitrow:last-child {
  margin-bottom: 10px;
}

.plusminusButtons {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 33px;
}
