.optionElement {
  float: left;
  margin-top: 7px;
  width: 100px;
}

.optionBtn {
  margin-top: 7px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
  float: left;
  width: 25px;
}

.optionBtnPressed {
  margin-top: 7px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
  float: left;
  width: 25px;
  border: inset 2px rgba(80, 80, 80, 0.5);
  /* background-color: rgba(180, 180, 180, 0.5); */
  box-shadow: inset 2px 2px rgb(80, 80, 80, 0.5);
}

.optionInput {
  margin-top: 8px;
  width: 22px;
  text-align: right;
}
