body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

button:focus {
  border: 2px solid;
}

button:active {
  border: inset 1px #505050;
}
